html { background-color: #2ab5e9;

}

h2 {font-weight: /* normal, bold /*
  font-size: 5rem;
  font-style: italic; normal, italic
  text-decoration: /*underline; underline, line-through/
  font-family: 'Fredoka One', cursive;
  line-height: 1.5 ; }

ol{list-style-type: none;

}
h1{font-size: 5rem;
  text-align: center;
}

h1,h2{ font-family: 'Fredoka One', cursive;

}
li{

}
.cute {color: red}
