html { background-color: #2ab5e9;

}

h2 {font-weight: normal;/* normal, bold */
  font-size: 2rem;
  font-style: normal; /*normal, italic */
  text-decoration: none;/* underline, line-through*/
  font-family: 'Fredoka One', cursive;
  line-height: 1.5 ; }

ul {
  list-style-type: none;
  padding: 0;

}
dt {
  font-weight: bold;
}

h1{font-size: 4rem;
  text-align: center;
  text-decoration: none;
}

h1,h2,ul,li,dt{ font-family: 'Fredoka One', cursive;

}
ul{color: white;

}
.cute {color: red}

span {
  color: #000f80;
  font-size: 3rem;
}

blockquote {
  font-style: italic;
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 1;
  color: white;

}

.neil {
  font-size: 1.6rem;

}
figcaption{
  font-style: italic;
  padding: 1rem;
}

a:hover {
  color: black;
}

nav {
  color: white;
}
li{
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
